# Configurações do Banco de Dados PostgreSQL
# Substitua os valores abaixo pelos dados da sua instalação local do Postgres.
DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/edtech_db?schema=public"